.router-link-active.router-link-exact-active > span {
    @apply text-gray-800 font-bold dark:text-gray-50;
}
.v-content {
    @apply mt-12 text-left text-gray-700 dark:text-gray-300;
    h1 {
        @apply font-black text-gray-900 dark:text-gray-200;
    }
    h2 {
        @apply text-3xl sm:text-4xl font-extrabold my-10 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-indigo-400;
    }

    h3 {
        @apply mt-6 text-xl sm:text-2xl font-bold;
    }

    p {
        @apply mt-6 mb-0;
    }

    p:first-child,
    h3 > p {
        margin-top: 0px !important;
    }
    a {
        @apply relative underline text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-indigo-400;
    }
    a::after {
        content: "";
        @apply absolute  w-full h-[1px] bg-gray-300 dark:bg-gray-700 left-0 -bottom-0;
    }

    img {
        @apply mb-8 rounded-md;
    }

    blockquote {
        @apply text-lg dark:text-gray-400 border-l-2 dark:border-l-blue-400 border-l-blue-400 my-8 p-4  border-2 border-gray-100 dark:border-gray-800 dark:border-opacity-10 bg-white dark:bg-gray-900 rounded-md;
    }
}

.circle-text {
    svg {
        fill: currentColor;
        height: auto;
        max-width: 66vmin;
        transform-origin: center;
        width: 100%;
        letter-spacing: 2.2px;
        @apply font-black dark:text-gray-400 text-gray-500;
    }
    svg textPath {
        font-size: 10px !important;
    }
}

.--no-underline,
.--no-underline:hover {
    text-decoration: none !important;
}
.gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-indigo-400;
}
