* {
    box-sizing: border-box;
}

html,
body {
    @apply font-sans duration-[0.01s] ease-in-out transition-colors;
}

a,
button {
    @apply duration-100 ease-in-out transition-colors;
}

.v-box {
    @apply h-96 sm:h-80 border-2 border-gray-200 border-opacity-90 dark:border-white dark:border-opacity-[0.02] bg-gray-100 dark:bg-gray-900 dark:bg-opacity-20 p-6 md:p-8 rounded-md;
}

.v-button {
    @apply hover:text-white hover:bg-gradient-to-r from-blue-500 to-indigo-500 transition-colors dark:transition-colors ease-in-out duration-100 cursor-pointer border-2 border-gray-200 dark:border-gray-800 dark:border-opacity-50 bg-gray-100 dark:bg-opacity-20 dark:bg-gray-700 backdrop-blur-md;
}

.grid-pattern--dark {
    background-image: linear-gradient(270deg, #030712, hsla(0, 0%, 100%, 0) 6%),
        linear-gradient(90deg, #030712, hsla(0, 0%, 100%, 0) 6%), linear-gradient(180deg, #030712, hsla(0, 0%, 100%, 0)),
        linear-gradient(0deg, #030712 1%, hsla(0, 0%, 100%, 0)), url(/img/svg/patern-plus-dark.svg);
}

.grid-pattern--white {
    background-image: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0) 6%),
        linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0) 6%), linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0)),
        linear-gradient(0deg, #fff 1%, hsla(0, 0%, 100%, 0)), url(/img/svg/patern-plus-white.svg);
}

.grid-pattern.hero {
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0;
    background-size: auto, auto, auto, auto, 2rem;
    position: absolute;
    top: 3rem;
    width: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

.grid-pattern {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@import url(~/assets/styles/utils/transitions.scss);
@import url(~/assets/styles/utils/animations.scss);
@import url(~/assets/styles/utils/text.scss);
