.text-animation-1,
.text-animation-3 {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    -webkit-animation: fade-in-right ease 0.4s forwards;
}

.text-animation-2 {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
    -webkit-animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}

.text-animation-3 {
    animation-delay: 0.3s;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
}

.v-underline-animation {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #7ab1e8cf 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s;
    -webkit-transition: background-size 1s;
    -moz-transition: background-size 1s;
    -ms-transition: background-size 1s;
    -o-transition: background-size 1s;
}

.v-card:hover .v-underline-animation,
.v-underline-animation:hover {
    background-size: 100% 100%;
}

.nuxt-loading-indicator {
    background: #ffb7ae;
    @apply bg-gradient-to-r from-blue-400 to-indigo-400;
    -webkit-animation: 2s linear infinite rainbow, 0.5s ease-out enter;
    animation: 2s linear infinite rainbow, 0.5s ease-out enter;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-transform-origin: left;
    transform-origin: left;
    background-size: 500%;
    z-index: 999999;
    position: fixed;
    display: block;
    width: 100%;
    opacity: 1;
    left: 0;
    top: 0;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}
